.not-rounded2 {
    border-radius: 0 !important;
}


.not-rounded {
    border-radius: 0 !important;
    width: 100%;
}

.node-checkbox {
    padding-right: 10px;
    margin-right: 10px;
}

#export-node-list {
    width: 300px;
}

.edge-info {
    max-width: 400px;
}

#edge-search {
    text-align: center;
    min-width: 240px;
}

#node-search {
    text-align: center;
}

td.bigger-rows {
    line-height: 2.38 !important;
}

#bel-logo {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

#json-logo {
    height: 17px;
    width: 17px;
    vertical-align: middle;
}

#graph-chart {
    display: block;
    margin: auto;
    vertical-align: middle;
    height: 80vh;
    max-height: 80vh;
}

svg {
    border: 1px solid black;
}

.graph-controller {
    width: 100%;
}

.color_red {
    color: darkred;
}

.color_black {
    color: black;
}

.link_continuous {
    fill: none;
    stroke-width: 1px;
}

.link_dashed {
    fill: none;
    stroke-width: 1px;
    stroke-dasharray: 4, 4;

}

.Pathology {
    fill: #FF7F0E;
}

.Abundance {
    fill: #AEC7E8;
}

.Gene {
    fill: #FFBB78;
}

.miRNA {
    fill: #D62728;
}

.Protein {
    fill: #1F77B4;
}

.RNA {
    fill: #FF9896;
}

.BiologicalProcess {
    fill: #2CA02C;
}

.Pathology {
    fill: #FF7F0E;
}

.Complex {
    fill: #98DF8A;
}

.Composite {
    fill: #9467BD;
}

